
{% extends 'base.html' %}
{% load static %}

{%block titulo%} NOSOTROS {%endblock titulo%}

{%block contenido%}
<h1> Objetivo del blog</h1>
<p>Este blog se hizo con la finalidad de brindar a el usuario informacion confiable y actualizada sobre el mundo de la tecnologia, videojuegos y más.</p>
<hr>
<h1>Abarca temas como:</h1>
<p>Tecnología</p>
<p>Mundo de programación</p>
<p>Lanzamientos de apps/juegos</p>
<p>Robotica</p>
<p>videojuegos</p>
<p>Y más...</p>

<!-- <h1>nosotros somos:  </h1>
<h2>El grupo 9</h2>
<h1>Alarcon Fabricio, Carlos Eduardo Gómez </h1> -->
<hr>
<div class="col-lg-12">

    <article >
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <h2 class="display-4" id="posicion" style="color: #d81ce9;">Nuestro equipo</h2>
                  <p id="posicion" style="color: #000000;">Nuestro grupo conformado por, Alarcón Fabricio(FrontEnd y BackEnd) y Goméz Carlos(BackeEnd y Analista), llevamos a cabo este proyecto con tematica TECNOLÓGICA </p>
                </div>
              </div>
            </div>
            <div id="posicion2" class="col-lg-6 text-center mb-0">
              <img src="assets/img/person-1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
              <h4 style="color: #d81ce9;">Fabricio Alarcón</h4>
              <span class="d-block mb-3 text-uppercase" style="color: #000000;">Founder &amp; CEO</span> 
            </div>
            <div id="posicion2" class="col-lg-6 text-center mb-0">
              <img src="assets/img/person-2.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
              <h4 style="color: #d81ce9;">Carlos Gomez</h4>
              <span class="d-block mb-3 text-uppercase" style="color: #000000;">Founder, VP</span>
              <!-- <p style="color: #000000;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p> -->
             </div> 

             <!-- por si alguien mas se une -->

            <!-- <div class="col-lg-4 text-center mb-5">
              <img src="assets/img/person-3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
              <h4 style="color: #d81ce9;">XXXXXX</h4>
              <span class="d-block mb-3 text-uppercase" style="color: #0aacb8;">Editor Staff</span>
              <p style="color: #000000;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
            </div> -->
            
            </div>
          </div>
        </div>
    </article>
  
{%endblock contenido%}    
